@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC";
}

body nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;
}

body nav .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 34px;
  margin: 10px 0;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body nav .container .logo a {
  width: 160px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #448899;
}

body nav .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  height: 34px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body nav .container .menu .reservediv {
  padding: 10px;
  width: 84px;
}

body nav .container .menu .memberdiv {
  width: 91px;
  padding: 10px;
}

a {
  color: #666666;
  text-decoration: none;
  cursor: pointer;
}

.loginPopup,
.signupPopup {
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 10;
  display: none;
}

.loginform {
  position: relative;
  left: 50%;
  transform: translate(-50%, 150px);
  z-index: 5;
  width: 340px;
  background-color: #ffffff;
  border-radius: 6px;
  height: 275px;
}
.signupForm {
  position: relative;
  left: 50%;
  transform: translate(-50%, 80px);
  z-index: 5;
  width: 340px;
  background-color: #ffffff;
  border-radius: 6px;
  height: 332px;
}

.decorator-bar {
  border-radius: 6px 6px 0 0;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
}
.user-h3 {
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  margin: 15px;
  width: 310px;
}

.user-input {
  margin: 0px 15px 10px 15px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  outline: none;
  width: 310px;
  font-size: 16px;
  padding: 15px;
  color: #666666;
  font-family: "Noto Sans TC";
}

.user-btn {
  border-radius: 5px;
  margin: 0px 15px 10px 15px;
  height: 47px;
  background: #448899;
  font-size: 19px;
  line-height: 16px;
  width: 310px;
  color: #ffffff;
  border: 1px solid #cccccc;
  outline: none;
  cursor: pointer;
}

.CloseButton {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: 17px;
  cursor: pointer;
  top: 27px;
}
.signup-Popuplogin {
  margin: 0px 15px 10px 15px;
}
.hint {
  color: #448899;
  margin-bottom: 5px;
}
.warming {
  margin-bottom: 5px;
  color: rgb(235, 70, 70);
}
.signin {
  display: none;
}
