<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="../static/css/public.css" />

    <title>台北一日遊</title>
  </head>
  <body>
    <script src="../static/js/header.js" type="text/javascript"></script>
    <!-- <div class="loginPopup">
      <form class="loginform">
        <div class="decorator-bar"></div>
        <img
          class="CloseButton"
          id="loginCloseButton"
          src="../static/img/icon_close.png"
          alt=""
        />
        <h3 class="user-h3">登入會員帳號</h3>
        <input
          id="login_email"
          class="user-input"
          type="email"
          placeholder="輸入電子信箱"
          required
        />
        <br />
        <input
          id="login_pwd"
          class="user-input"
          type="password"
          placeholder="輸入密碼"
          required
        />
        <br />
        <button class="user-btn" type="submit">登入帳戶</button>
        <p class="login_note"></p>
        <p><a class="loginPopup-signup">還沒有帳戶？點此註冊</a></p>
      </form>
    </div>
    <div class="signupPopup">
      <form class="signupForm" method="post">
        <div class="decorator-bar"></div>

        <img
          class="CloseButton"
          id="signupCloseButton"
          src="../static/img/icon_close.png"
          alt=""
        />
        <h3 class="user-h3">註冊會員帳號</h3>
        <input
          class="user-input"
          id="signup-name"
          type="text"
          placeholder="輸入姓名"
          required
        />
        <input
          class="user-input"
          id="signup-email"
          type="email"
          placeholder="輸入電子郵件"
          required
        />
        <input
          class="user-input"
          id="signup-password"
          type="password"
          placeholder="輸入密碼"
          required
        />
        <button class="user-btn" type="submit" id="signup-btn">
          註冊新帳戶
        </button>
        <p class="signup_note"></p>
        <div class="signup-Popuplogin"><a>已經有帳戶了？點此登入</a></div>
      </form>
    </div>
    <nav>
      <div class="container">
        <p class="logo"><a href="/">台北一日遊</a></p>

        <div class="menu">
          <div class="item1">
            <p><a class="text">預定行程</a></p>
          </div>
          <div class="item2">
            <p>
              <a class="signin_text">登入<a class="signup_text">/註冊</a></a>
            </p>
          </div>
        </div>
      </div>
    </nav> -->

    <div class="section">
      <img src="../static/img/welcome.png" alt="" />
      <div class="slogan">
        <div class="slogantext">
          <div>
            <h1>輕鬆享受台北一日悠閒</h1>
            <p>探索每個角落，體驗城市的深度旅遊行程</p>
          </div>
          <div class="search">
            <input
              class="searchtext"
              type="text"
              name=""
              id="search_attrs"
              placeholder="輸入景點名稱查詢"
            />
            <div>
              <input
                class="btn"
                type="image"
                id="Button"
                value="查詢"
                src="../static/img/icon_search.png"
                onclick="selectattrs() "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="gridbox"></div>
    </main>

    <footer class="footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </body>
  <script src="../static/js/index.js" type="text/javascript"></script>
  <script src="../static/js/user.js" type="text/javascript"></script>
</html>
